<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
  <input hidden type="text" th:field="*{id}" id="id">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name" value="${user.name}">
  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password" placeholder="password" value="${user.password}">
  <label for="email">Email: </label>
  <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <label for="age">Age: </label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <label for="gender">Gender: </label>
  <input type="text" th:field="*{gender}" id="gender" placeholder="Gender">
  <th:block th:each="role: ${roles}">
    <input type="checkbox" th:field="*{roles}"
           th:text="${role.name}" th:value="${role.id}" />
  </th:block>
  <input type="submit" value="Save">
</form>
</body>
</html>