<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>age</th>
        <th>gender</th>
        <th>roles</th>
        <th>actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text = "${user.id}">id</td>
        <td th:text = "${user.name}">name</td>
        <td th:text = "${user.email}">email</td>
        <td th:text = "${user.age}">age</td>
        <td th:text = "${user.gender}">gender</td>
        <td th:text = "${user.roles}">roles</td>
        <td>
            <a th:href="@{edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{view/{id}(id=${user.id})}">View</a>
            <a th:href="@{delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>

<h2>Add</h2>
<a th:href="@{/admin/new}">Add new user</a>
<br>
<form method="get" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>

</body>
</html>